*{
    font-family: verdana, sans-serif;
}

nav {
    background-color: #BCCEF8;
}

.nav-link.active:hover {
    background-color: aquamarine;
}

a {
    color: black;
}

h1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

iframe {
    margin: 0 auto;
    display: block;
    width: 400px; 
    height: 300px; 
}

li {
    text-align: justify;
    color: blue;
}

.card-title, .card-text {
    text-align: justify;
}

form { 
    margin: 0 auto; 
    width: 800px;
    }

footer {
    display:flex;
    background-color: #BCCEF8;
    height: 70px;
    width: 100%;
    justify-content:center;
    align-items:center;
    bottom: 0;
    left: 0;
    right: 0;
}